.navbar {
  list-style-type: none;
  overflow: hidden;
  color: white;
  justify-content: space-between;
  display: flex;
  padding: 15px;
  padding-right: 20px;
  height: 32px;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  min-width: 660px;
}

.navbar-loggedin {
  list-style-type: none;
  background-color: black;
  overflow: hidden;
  color: white;
  justify-content: space-between;
  display: flex;
  padding-right: 20px;
  min-width: 660px;
}

.navbar-left {
  width: 30%;
  justify-content: space-between;
}


.links {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: auto;
  order: 2;
  align-items: center;
}

.explore-link a:hover {
  background-color: grey;
}

.navbar-loggedin .logo {
  padding-left: 40px;
  margin-top: 5px;
}

.login-signup {
  color: white;
  text-align: center;
  // padding: 15px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}

.login-signup li {
  margin: auto;
}

.navbar a {
  text-decoration: none;
}

.navbar-loggedin a {

  text-decoration: none;
}

.loginlink {
  padding-right: 22px;
}

.loginlink a:visited {
  color: white;
}

.logo {
  font-family: 'Archivo Black', sans-serif;
  font-size: 30px;
  color: white;
  text-decoration: none;
  opacity: 1;
}

.logo a:visited {
  color: white;
}

.signupbutton {
  background-color: white;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 18px;
  vertical-align: top;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: black;
  opacity: 1;
}

.signupbutton a:visited {
  color: black;
}

.shift {
  padding-right: 5px;
}


.explorelink a {
  color: white;
}

.explorelink a:visited {
  color: white;
}

.navbar-right {
  width: 80%;
  justify-content: space-between;

}

.greetinglogout {
  padding-top: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-left: auto;
  order: 2;
  align-items: center;
  margin-bottom: 3px;
}

.dropdown-content {
  background-color: white;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 18px;
  vertical-align: top;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: black;
}
