.picContainer img {
  height: 65vh;
  width: auto;
  // padding: 20px 0 10px 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
}

.picContainer {
  background-color: #242424;
  align-items: center;
  max-height: 70vh;
}

.backtoexplore {
  margin-left: 20px;
  position: relative;
  top: 25px;
  text-decoration: none;

}

.backtoexplore {
  color: white;
}

.backtoexplore:visited {
  color: white;
}

.lowerContainer {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  justify-content: space-between;
}

.infobox {
  width: 40vw;
  padding-top: 15px;

}

.photoName {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 15px;
}

.ownerName {
  font-size: 15px;
  font-style: italic;
  padding-bottom: 15px;
}

.photoDescription {
  font-size: 18px;
}

.photoDelete {
  margin-top: 40px;
  height: 32px;
  background-color: grey;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: top;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: white;
}

.photoDelete:hover {
  background-color: darkgrey;
}

.photoEdit {
  margin-top: 40px;
  margin-right: 20px;
  max-height: 32px;
  background-color: grey;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: top;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: white;
}

.photoEdit:hover {
  background-color: darkgrey;
}

.editing {
  display: flex;
  // flex-direction: row-reverse;
  width: 35vw;
  // justify-content: space-between;
  // border: 3px solid black;
  // overflow: hidden;
  white-space: nowrap;
}
