.banner {
  font-size: 26px;
  padding: 25px 0 15px 10px;

}
.manyPhotos {
  min-width: 400px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
  align-content: center;

}

.myPhotos {
  min-width: 800px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 130px;
  padding-right: 130px;
  align-content: center;

}

.photoItem {
  position: relative;
  text-align: center;


}

.phototext {
  visibility: hidden;
}

.phototext {
  // display: flex;
  position: absolute;
  bottom: 50px;
  left: 10px;
  color: #fff;
  visibility: hidden;
  text-align: left;

}

.photo-index-item:hover .phototext {
  visibility: visible;
}

.photoColumn {
  column-width: 300px;
  column-count: 3;
  line-height: 0;
  column-gap: 5px;
}

.phototext .title {
  font-size: 25px;
}

.phototext .description {
  font-size: 12px;

}

.photo-index-item {
  position: relative;

}

.photoItem img {

  width: 100%;
  height: auto;
  padding: 5px;
}
